body form{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap:20px;
    grid-row-gap:15px;
    margin-top:10px;
}

body #c-form p{
    margin-bottom:6px;
    font-weight:500;
    margin-top:0px;
    font-size: 14px;
    color:#1c1c1c;
}

body form select{
    width:100%;
    padding:12px;
    font-size:16px;
    border:gray solid 1px;
    color:#1c1c1c;
    border-radius:none;
}

body form input:not(#button), body form textarea{
    width:100%;
    padding:12px;
    color:#1c1c1c;
    font-size:16px;
    border:gray solid 1px;
}

body form input:focus:not(#button), body form textarea:focus, body form select:focus{
    outline:dodgerblue solid 1px;
}

body form textarea{
    width:100%;
    resize:vertical;
    font-family:sans-serif;
    color:#1c1c1c;
}

body form .btn{
    color:#1c1c1c;
    font-weight:700;
    display:inline-block;
    padding:15px 32px;
    border:#1c1c1c solid 2px;
    letter-spacing:2px;
    font-size:20px;
    background-color:white;
}

body form .btn:hover, body form .btn:focus{
    background-color:#1c1c1c;
    color:white;
}

body #errors-div{
    background-color:rgba(234, 150, 150, 0.4);
    color:rgb(181, 48, 48);
    padding:17px 10px;
    border-radius:4px;
}

body #errors-div p{
    margin:6px;
}

body #errors-div p:first-child{
    font-weight:600;
}

body #success-div{
    padding:17px 10px;
    border-radius:4px;
    color:rgb(85, 158, 85);
    background-color:rgb(215, 244, 215);
}

body form div:not(.half-row) {
    grid-column-end:span 2;
}